/* header */
* {
    margin: auto 0;
}
header {
    top: 0;
    position:-webkit-sticky;
    position: sticky;

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid black;
    box-shadow: 0 0 8px 0 black;
    padding: 0 50px 0 50px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    gap: 20px;
}
nav a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*home section*/
#home {
    padding: 0 50px 0 50px;
min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home .home-text{
    font-size: 50px !important;
    font-family: Arial, Helvetica, sans-serif;
}
#about {
    padding: 0 50px 0 50px;
    margin-top: 60px;
}
#about h1{
    font-size: 100px !important;
}
.home-image img{
    border-radius: 50%;
}
/* about-section */
#about {
    padding: 0 50px 0 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
}
#about-image img {
    border-radius: 20%;
    border: 1px solid gray;
}
.about-img-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 0 0;
}
.about-details-text {
    width: 60%;
    margin: 50px 0 0 0;
}
.about-details-text h6 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-details-text p{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}